<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Easy English Certificate</title>
    <style>
      html {
        -webkit-print-color-adjust: exact;
      }
      * {
        box-sizing: border-box;
        -webkit-print-color-adjust: exact;
      }
      html,
      body {
        margin: 0;
        padding: 0;
      }
      body {
        line-height: 1.5;
        white-space: pre-wrap;
      }

      .mono {
        font-family: iawriter-mono, Nitti, Menlo, Courier, monospace;
      }
    </style>
  </head>
  <body>
    <article id="790a7406-410a-4a93-a636-4e3363779049" class="page mono">
      <header
        style="
          border-bottom-width: 2px;
          border-color: #eee;
          border-bottom-style: solid;
          margin: 0;
          padding: 0;
        "
      >
        <h1 style="font-weight: 900; font-size: 40">
          Easy English Certificate
        </h1>
      </header>
      <div
        style="
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        "
      >
        <div
          style="
            width: 92%;
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: start;
            background-color: #fff;
            margin-top: 0;
            padding: 15px;
            border-radius: 20px;
            border: #eee 2px solid;
          "
        >
          <div
            style="
              width: 30%;
              padding: 0;
              margin: 0;
              background-color: green;
              display: flex;
              flex-direction: column;
              align-items: start;
              justify-content: start;
              border-radius: 5px;
              overflow: hidden;
            "
          >
            <img
              style="width: 100%; padding: 0; margin: 0"
              src="${image?image:'https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541'}"
            />
          </div>
          <div
            style="
              width: 60%;
              padding-left: 20px;
              flex-direction: column;
              align-items: start;
              justify-content: flex-start;
            "
          >
            <p style="font-size: 35; font-weight: 700; padding: 0; margin: 0">
              ${user.name || ''} ${user.surname || ''}
            </p>
            <p style="font-size: 25; font-weight: 700; padding: 0; margin: 0">
              ${user.email}
            </p>
            <p style="font-size: 25; font-weight: 700; padding: 0; margin: 0">
              Phone: ${user.phone || 'not provided' }
            </p>
            <p style="font-size: 25; font-weight: 700; padding: 0; margin: 0">
              Ukraine, Kyiv
            </p>
            <p style="font-size: 25; font-weight: 700; padding: 0; margin: 0">
              Level: ########
            </p>
          </div>
        </div>
        <div style="width: 92%; flex-direction: column; align-items: start">
          <h3 style="font-size: 40">Tests:</h3>
          <!--  -->
          <div
            style="
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
            "
          >
            <p
              style="
                font-size: 25px;
                font-weight: 700;
                color: black;
                width: 40%;
              "
            >
              ${test.title}
            </p>
            <p
              style="
                font-size: 25px;
                font-weight: 700;
                color: black;
                width: 20%;
              "
            >
              ${((test.points/Object.values(test.answers).length)*100).toFixed()}%${'\n'}(${test.points}/${Object.values(test.answers).length})
            </p>
            <p
              style="
                font-size: 25px;
                font-weight: 700;
                color: black;
                width: 10%;
              "
            >
              ${test.level}
            </p>
            <p style="font-size: 20px; width: 15%">
              ${new Date(test.date).toLocaleString().split(',')[0]}
            </p>
          </div>
          <!--  -->
          <div
            style="
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
            "
          >
            <p style="font-size: 25px; font-weight: 700">No tests passed yet</p>
          </div>
          <!--  -->
          <div
            style="
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              border-bottom-width: 2px;
              border-color: #eee;
              border-bottom-style: solid;
            "
          >
            <p
              style="font-size: 25px; font-weight: 700; color: #333; width: 40%"
            >
              test name
            </p>
            <p
              style="font-size: 25px; font-weight: 700; color: #333; width: 20%"
            >
              points
            </p>
            <p
              style="font-size: 20px; font-weight: 700; color: #333; width: 10%"
            >
              level
            </p>
            <p
              style="font-size: 20px; font-weight: 700; color: #333; width: 15%"
            >
              date
            </p>
          </div>

          <!--  -->
        </div>
      </div>
    </article>
  </body>
</html>
